* {
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a42c14;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container-form {
    position: relative;
    max-width: 850px;
    width: 100%;
    padding: 40px 30px;
    box-shadow: 0 5px 10px #a42c14;
    perspective: 2700px;
}
